:root {
  --primary-color: blue;

  max-width: 100vw;
  max-height: 100vw;
}

body {
  font-size: 2rem;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
}

input[type=number] {
  -moz-appearance: textfield;
}

.box:last-child { margin-bottom: 1.5rem; }

#addItem {
  max-width: 7rem;
  margin-bottom: 0.25rem;
  margin-right: 0.25rem;
}

#cart {
  font-size: 1.2rem;
  max-width: 1000px;
}

#cart td {
  flex-wrap: wrap;
  align-items: baseline;
  font-size: 1.3rem;
  width: 250px;
  text-align: start;
}

#cartProductName {
  text-align: center;
}

#checkout {
  height: 5rem;
}

#deleteItem {
  max-width: 7rem;
}

#header {
  padding-top: 38px;
}

#sales table {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#login {
  max-width: 30rem;
}

#productForm {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 20rem;
}

#ProductCard {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#productInfo {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
}

#quantity {
  padding: 1rem;
}

#nav {
  font-size: 1.5rem;
  justify-content: space-evenly;
  text-decoration: underline;
  list-style: none;
}

#navSection {
  padding-bottom: 0;
}
